$pokeRed: #ef5350;
$pokeRedHovered: #c62828;
$pokeText: white;
.navbar-main__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5em;
  background-color: $pokeRed;
  color: $pokeText;
  .hamburger__container {
    padding: 0.75rem;
    font-size: 2.5rem;
    margin: 0.5rem;
    border: 1px solid white;
    background-color: $pokeText;
    border-radius: 15px;
    color: rgb(112, 112, 112);
    height: 80%;
    display: flex;
    align-items: center;
  }
  .logo__container {
    width: 90%;
    margin-left: 0.5rem;
    margin-right: auto;
    border: 1px solid white;
    background-color: $pokeText;
    border-radius: 15px;
    height: 80%;
  }
  .logo-lead {
    font-weight: 700;
    font-size: 2.5rem;
  }
  @media (min-width: 640px) {
    .logo-lead {
      font-size: 4rem;
    }
  }
}
